* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

body {
    background-color: blanchedalmond;
    border: solid black 5px;
    text-align: center;
}

header {
    background-color: lemonchiffon;
    margin: 20px auto;
}

h2 {
    color: steelblue;
    background-color: seashell;
    margin: 10px auto;
}

#bike {
    height: 500px;
    width: 550px;
}

h3 {
    background-color: thistle;
    color: midnightblue;
    margin: 10px auto;
}

button {
    margin: 5px auto;
}
